<!DOCTYPE html>
<html lang="en">
<head>
   <title>Bootstrap Example</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
      <style>
        .increase-size {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            padding-left: 1.2em;
            padding-right: 1.2em;
            font-size: 14px;
			font-weight: 500;
        }
		
        .increase-border {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            padding-left: 1.2em;
            padding-right: 1.2em;
            font-size: 14px;
			font-weight: 500;
			border: 1px solid;
        }

        .form-rounded {
            border-radius: 1.2em;
         }
   </style>
	
   <link rel="stylesheet" href="style.css" />
   <link rel="stylesheet" href="w3schools32.css" />
</head>
<body>

<br>
   <div class="container mb-3">
      <h3>Suggestions, synonyms, definitions, tokenize, spell-checking</h3>
      <br>
      <input type="text" class="form-control form-rounded increase-size" placeholder="Text input">
   </div>

   <div class="container mt-3">
      <main class="form-signin w-50 m-auto">
         <form action="/message" method="POST">

         <!-- h1 class="h3 mb-3 fw-normal">Please send me message</h1> -->
		  
         <button class="w-100 btn btn-lg btn-primary" type="submit">
            Send
         </button>
		 
		 <hr>
		 
			<div class = "card">
			   <div class = "card-header">
				  <h4 class = "card-title" >
					 <a style="text-decoration:none;" data-toggle = "collapse" href = "#test">Free learning content</a>
				  </h4>
			   </div>
			   <div id = "test" class = "card-collapse collapse">
				  <div class = "card-body">
				  <p class="card-text">AI tools</p>
				  <h4>artificial intelligence tools</h4>
				  </div>
			   </div>
			</div>

         </form>
      </main>
   </div>

   <div class="container mt-3">
      <div class="w3-example">
         <h3>Example</h3>
         <p>Disable default resize option:</p>
         <div class="w3-code notranslate htmlHigh"> Tested-lined-text
         </div>
         <div class="w3-code notranslate htmlHigh"> Tested-lined-text
         </div>

         <span class="badge rounded-pill text-bg-primary increase-size">Primary</span>
         <span class="badge rounded-pill text-bg-secondary increase-size">Secondary</span>
         <span class="badge rounded-pill text-bg-success increase-size">Success</span>
         <span class="badge rounded-pill text-bg-danger increase-size">Danger</span>
         <span class="badge rounded-pill text-bg-warning increase-size">Warning</span>
         <span class="badge rounded-pill text-bg-info increase-size">Info</span>
         <span class="badge rounded-pill text-bg-light increase-size">Light</span>
         <span class="badge rounded-pill text-bg-dark increase-size">Dark</span>
	  </div>
   </div>
   <div class="container mt-3">
      <span class="badge rounded-pill text-bg-primary increase-size">Primary</span>
      <span class="badge rounded-pill text-bg-secondary increase-size">Secondary</span>
      <span class="badge rounded-pill text-bg-success increase-size">Success</span>
      <span class="badge rounded-pill text-bg-danger increase-size">Danger</span>
      <span class="badge rounded-pill text-bg-warning increase-size">Warning</span>
      <span class="badge rounded-pill text-bg-info increase-border">Info</span>
      <span class="badge rounded-pill text-bg-light increase-border">Light</span>
      <span class="badge rounded-pill text-bg-dark increase-size">Dark</span>
	  <hr>

	
	  <h6 class="mb-3 text-primary post-title">.NET Framework</h6>

	  <h6 class="mb-3 text-primary post-title">APIs</h6>

	  <h6 class="mb-3 text-primary post-title">ASP / Active Server Pages</h6>

	  <h6 class="mb-3 text-primary post-title">ASP.NET</h6>

	  <h6 class="mb-3 text-primary post-title">Algorithms / Advanced Math</h6>

	  <h6 class="mb-3 text-primary post-title">Apache Web Server</h6>

	  <h6 class="mb-3 text-primary post-title">C / C++</h6>

	  <h6 class="mb-3 text-primary post-title">C# / C Sharp</h6>

	  <h6 class="mb-3 text-primary post-title">Career Advice</h6>

	  <h6 class="mb-3 text-primary post-title">ColdFusion</h6>

	  <h6 class="mb-3 text-primary post-title">Computer Hardware</h6>

	  <h6 class="mb-3 text-primary post-title">Content Management Systems</h6>

	  <h6 class="mb-3 text-primary post-title">DB2 Database</h6>

	  <h6 class="mb-3 text-primary post-title">Data Management</h6>

	  <h6 class="mb-3 text-primary post-title">Desktop Software</h6>

	  <h6 class="mb-3 text-primary post-title">Flash / Actionscript</h6>

	  <h6 class="mb-3 text-primary post-title">General</h6>

	  <h6 class="mb-3 text-primary post-title">HTML / CSS</h6>

	  <h6 class="mb-3 text-primary post-title">IIS / Internet Information Server</h6>

	  <h6 class="mb-3 text-primary post-title">Java</h6>

	  <h6 class="mb-3 text-primary post-title">Javascript</h6>

	  <h6 class="mb-3 text-primary post-title">Linux</h6>

	  <h6 class="mb-3 text-primary post-title">Mac OS</h6>

	  <h6 class="mb-3 text-primary post-title">Microsoft Access / VBA</h6>

	  <h6 class="mb-3 text-primary post-title">Microsoft Excel</h6>

	  <h6 class="mb-3 text-primary post-title">Microsoft SQL Server</h6>

	  <h6 class="mb-3 text-primary post-title">Microsoft Windows</h6>

	  <h6 class="mb-3 text-primary post-title">Mobile Development</h6>

	  <h6 class="mb-3 text-primary post-title">Mobile Phones and Devices</h6>

	  <h6 class="mb-3 text-primary post-title">MySQL Database</h6>

	  <h6 class="mb-3 text-primary post-title">Networking - Hardware / Configuration</h6>

	  <h6 class="mb-3 text-primary post-title">Online Marketing</h6>

	  <h6 class="mb-3 text-primary post-title">Oracle Database</h6>

	  <h6 class="mb-3 text-primary post-title">PHP</h6>

	  <h6 class="mb-3 text-primary post-title">Perl</h6>

	  <h6 class="mb-3 text-primary post-title">PostgreSQL Database</h6>

	  <h6 class="mb-3 text-primary post-title">Python</h6>

	  <h6 class="mb-3 text-primary post-title">Ruby / Ruby on Rails</h6>

	  <h6 class="mb-3 text-primary post-title">Security</h6>

	  <h6 class="mb-3 text-primary post-title">Software Development</h6>

	  <h6 class="mb-3 text-primary post-title">Visual Basic .NET</h6>

	  <h6 class="mb-3 text-primary post-title">Visual Basic 4 / 5 / 6</h6>

	  <h6 class="mb-3 text-primary post-title">Web Applications</h6>

	  <h6 class="mb-3 text-primary post-title">Windows Server</h6>

	  <h6 class="mb-3 text-primary post-title">XAML / WPF / Silverlight</h6>

	  <h6 class="mb-3 text-primary post-title">XML</h6>

	  <h6 class="mb-3 text-primary post-title">eCommerce</h6>
	  
	  --------------------------------------------------------
	  
      <h6 class="mb-3 text-primary post-title">3D-generator</h6>
      <h6 class="mb-3 text-primary post-title">aggregators</h6>
      <h6 class="mb-3 text-primary post-title">ai-detection</h6>
      <h6 class="mb-3 text-primary post-title">art-generator</h6>
      <h6 class="mb-3 text-primary post-title">audio-editing</h6>
      <h6 class="mb-3 text-primary post-title">avatar</h6>
      <h6 class="mb-3 text-primary post-title">avatar-generator</h6>
      <h6 class="mb-3 text-primary post-title">chat</h6>
      <h6 class="mb-3 text-primary post-title">code-assistant</h6>
      <h6 class="mb-3 text-primary post-title">copywriting</h6>
      <h6 class="mb-3 text-primary post-title">copywriting-assistant</h6>
      <h6 class="mb-3 text-primary post-title">customer-support</h6>
      <h6 class="mb-3 text-primary post-title">design-assistant</h6>
      <h6 class="mb-3 text-primary post-title">developer-tools</h6>
      <h6 class="mb-3 text-primary post-title">e-commerce</h6>
      <h6 class="mb-3 text-primary post-title">education-assistant</h6>
      <h6 class="mb-3 text-primary post-title">email-assistant</h6>
      <h6 class="mb-3 text-primary post-title">experiments</h6>
      <h6 class="mb-3 text-primary post-title">fashion-assistant</h6>
      <h6 class="mb-3 text-primary post-title">finance</h6>
      <h6 class="mb-3 text-primary post-title">for-fun</h6>
      <h6 class="mb-3 text-primary post-title">fun-tools</h6>
      <h6 class="mb-3 text-primary post-title">gaming</h6>
      <h6 class="mb-3 text-primary post-title">generative-art</h6>
      <h6 class="mb-3 text-primary post-title">generative-code</h6>
      <h6 class="mb-3 text-primary post-title">generative-video</h6>
      <h6 class="mb-3 text-primary post-title">gift-ideas</h6>
      <h6 class="mb-3 text-primary post-title">health</h6>
      <h6 class="mb-3 text-primary post-title">human-resources</h6>
      <h6 class="mb-3 text-primary post-title">image-editing</h6>
      <h6 class="mb-3 text-primary post-title">image-generator</h6>
      <h6 class="mb-3 text-primary post-title">image-improvement</h6>
      <h6 class="mb-3 text-primary post-title">image-scanning</h6>
      <h6 class="mb-3 text-primary post-title">inspiration</h6>
      <h6 class="mb-3 text-primary post-title">legal-assistant</h6>
      <h6 class="mb-3 text-primary post-title">life-assistant</h6>
      <h6 class="mb-3 text-primary post-title">logo-generator</h6>
      <h6 class="mb-3 text-primary post-title">marketing</h6>
      <h6 class="mb-3 text-primary post-title">matt's-picks</h6>
      <h6 class="mb-3 text-primary post-title">memory-assistant</h6>
      <h6 class="mb-3 text-primary post-title">motion-capture</h6>
      <h6 class="mb-3 text-primary post-title">music</h6>
      <h6 class="mb-3 text-primary post-title">music-generator</h6>
      <h6 class="mb-3 text-primary post-title">no-code</h6>
      <h6 class="mb-3 text-primary post-title">paraphraser</h6>
      <h6 class="mb-3 text-primary post-title">personalized-videos</h6>
      <h6 class="mb-3 text-primary post-title">podcasting</h6>
      <h6 class="mb-3 text-primary post-title">presentations</h6>
      <h6 class="mb-3 text-primary post-title">productivity</h6>
      <h6 class="mb-3 text-primary post-title">prompt-guides</h6>
      <h6 class="mb-3 text-primary post-title">prompts-assistant</h6>
      <h6 class="mb-3 text-primary post-title">real-estate</h6>
      <h6 class="mb-3 text-primary post-title">research</h6>
      <h6 class="mb-3 text-primary post-title">research-assistant</h6>
      <h6 class="mb-3 text-primary post-title">resources</h6>
      <h6 class="mb-3 text-primary post-title">sales-assistant</h6>
      <h6 class="mb-3 text-primary post-title">search-engine</h6>
      <h6 class="mb-3 text-primary post-title">self-improvement</h6>
      <h6 class="mb-3 text-primary post-title">seo-assistant</h6>
      <h6 class="mb-3 text-primary post-title">social-media</h6>
      <h6 class="mb-3 text-primary post-title">social-media-assistant</h6>
      <h6 class="mb-3 text-primary post-title">speech-to-text</h6>
      <h6 class="mb-3 text-primary post-title">spreadsheet-assistant</h6>
      <h6 class="mb-3 text-primary post-title">sql-assistant</h6>
      <h6 class="mb-3 text-primary post-title">startup-assistant</h6>
      <h6 class="mb-3 text-primary post-title">storyteller</h6>
      <h6 class="mb-3 text-primary post-title">summarizer</h6>
      <h6 class="mb-3 text-primary post-title">text-to-speech</h6>
      <h6 class="mb-3 text-primary post-title">text-to-video</h6>
      <h6 class="mb-3 text-primary post-title">transcriber</h6>
      <h6 class="mb-3 text-primary post-title">translation</h6>
      <h6 class="mb-3 text-primary post-title">video-editing</h6>
      <h6 class="mb-3 text-primary post-title">video-generator</h6>
      <h6 class="mb-3 text-primary post-title">voice-modulation</h6>
      <h6 class="mb-3 text-primary post-title">writing-assistant</h6>
	  --------------------------------------------------------------- 

      <h6 class="mb-3 text-primary post-title">3D generator</h6>
      <h6 class="mb-3 text-primary post-title">ai detection</h6>
      <h6 class="mb-3 text-primary post-title">art generator</h6>
      <h6 class="mb-3 text-primary post-title">audio editing</h6>
      <h6 class="mb-3 text-primary post-title">avatar generator</h6>
      <h6 class="mb-3 text-primary post-title">code assistant</h6>
      <h6 class="mb-3 text-primary post-title">copywriting assistant</h6>
      <h6 class="mb-3 text-primary post-title">customer support</h6>
      <h6 class="mb-3 text-primary post-title">design assistant</h6>
      <h6 class="mb-3 text-primary post-title">developer tools</h6>
      <h6 class="mb-3 text-primary post-title">education assistant</h6>
      <h6 class="mb-3 text-primary post-title">email assistant</h6>
      <h6 class="mb-3 text-primary post-title">fashion assistant</h6>
      <h6 class="mb-3 text-primary post-title">fun tools</h6>
      <h6 class="mb-3 text-primary post-title">generative art</h6>
      <h6 class="mb-3 text-primary post-title">generative code</h6>
      <h6 class="mb-3 text-primary post-title">generative video</h6>
      <h6 class="mb-3 text-primary post-title">gift ideas</h6>
      <h6 class="mb-3 text-primary post-title">human resources</h6>
      <h6 class="mb-3 text-primary post-title">image editing</h6>
      <h6 class="mb-3 text-primary post-title">image generator</h6>
      <h6 class="mb-3 text-primary post-title">image improvement</h6>
      <h6 class="mb-3 text-primary post-title">image scanning</h6>
      <h6 class="mb-3 text-primary post-title">legal assistant</h6>
      <h6 class="mb-3 text-primary post-title">life assistant</h6>
      <h6 class="mb-3 text-primary post-title">logo generator</h6>
      <h6 class="mb-3 text-primary post-title">matt's picks</h6>
      <h6 class="mb-3 text-primary post-title">memory assistant</h6>
      <h6 class="mb-3 text-primary post-title">motion capture</h6>
      <h6 class="mb-3 text-primary post-title">music generator</h6>
      <h6 class="mb-3 text-primary post-title">personalized videos</h6>
      <h6 class="mb-3 text-primary post-title">prompt guides</h6>
      <h6 class="mb-3 text-primary post-title">prompts assistant</h6>
      <h6 class="mb-3 text-primary post-title">real estate</h6>
      <h6 class="mb-3 text-primary post-title">research assistant</h6>
      <h6 class="mb-3 text-primary post-title">sales assistant</h6>
      <h6 class="mb-3 text-primary post-title">search engine</h6>
      <h6 class="mb-3 text-primary post-title">self improvement</h6>
      <h6 class="mb-3 text-primary post-title">seo assistant</h6>
      <h6 class="mb-3 text-primary post-title">social media</h6>
      <h6 class="mb-3 text-primary post-title">social-media assistant</h6>
      <h6 class="mb-3 text-primary post-title">spreadsheet assistant</h6>
      <h6 class="mb-3 text-primary post-title">sql assistant</h6>
      <h6 class="mb-3 text-primary post-title">startup assistant</h6>
      <h6 class="mb-3 text-primary post-title">video editing</h6>
      <h6 class="mb-3 text-primary post-title">video generator</h6>
      <h6 class="mb-3 text-primary post-title">writing-assistant</h6>
      --------------------------------------------------------------- 
	  
      <h6 class="mb-3 text-primary post-title">3D-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">aggregators tool</h6>
      <h6 class="mb-3 text-primary post-title">ai-detection tool</h6>
      <h6 class="mb-3 text-primary post-title">art-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">audio-editing tool</h6>
      <h6 class="mb-3 text-primary post-title">avatar tool</h6>
      <h6 class="mb-3 text-primary post-title">avatar-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">chat tool</h6>
      <h6 class="mb-3 text-primary post-title">code-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">copywriting tool</h6>
      <h6 class="mb-3 text-primary post-title">copywriting-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">customer-support tool</h6>
      <h6 class="mb-3 text-primary post-title">design-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">developer-tools</h6>
      <h6 class="mb-3 text-primary post-title">e-commerce tool</h6>
      <h6 class="mb-3 text-primary post-title">education-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">email-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">experiments tool</h6>
      <h6 class="mb-3 text-primary post-title">fashion-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">finance tool</h6>
      <h6 class="mb-3 text-primary post-title">for-fun tool</h6>
      <h6 class="mb-3 text-primary post-title">gaming tool</h6>
      <h6 class="mb-3 text-primary post-title">generative-art tool</h6>
      <h6 class="mb-3 text-primary post-title">generative-code tool</h6>
      <h6 class="mb-3 text-primary post-title">generative-video tool</h6>
      <h6 class="mb-3 text-primary post-title">gift-ideas tool</h6>
      <h6 class="mb-3 text-primary post-title">health tool</h6>
      <h6 class="mb-3 text-primary post-title">human-resources tool</h6>
      <h6 class="mb-3 text-primary post-title">image-editing tool</h6>
      <h6 class="mb-3 text-primary post-title">image-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">image-improvement tool</h6>
      <h6 class="mb-3 text-primary post-title">image-scanning tool</h6>
      <h6 class="mb-3 text-primary post-title">inspiration tool</h6>
      <h6 class="mb-3 text-primary post-title">legal-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">life-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">logo-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">marketing tool</h6>
      <h6 class="mb-3 text-primary post-title">matt's-picks tool</h6>
      <h6 class="mb-3 text-primary post-title">memory-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">motion-capture tool</h6>
      <h6 class="mb-3 text-primary post-title">music tool</h6>
      <h6 class="mb-3 text-primary post-title">music-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">no-code tool</h6>
      <h6 class="mb-3 text-primary post-title">paraphraser tool</h6>
      <h6 class="mb-3 text-primary post-title">personalized-videos tool</h6>
      <h6 class="mb-3 text-primary post-title">podcasting tool</h6>
      <h6 class="mb-3 text-primary post-title">presentations tool</h6>
      <h6 class="mb-3 text-primary post-title">productivity tool</h6>
      <h6 class="mb-3 text-primary post-title">prompt-guides tool</h6>
      <h6 class="mb-3 text-primary post-title">prompts-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">real-estate tool</h6>
      <h6 class="mb-3 text-primary post-title">research tool</h6>
      <h6 class="mb-3 text-primary post-title">research-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">resources tool</h6>
      <h6 class="mb-3 text-primary post-title">sales-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">search-engine tool</h6>
      <h6 class="mb-3 text-primary post-title">self-improvement tool</h6>
      <h6 class="mb-3 text-primary post-title">seo-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">social-media tool</h6>
      <h6 class="mb-3 text-primary post-title">social-media-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">speech-to-text tool</h6>
      <h6 class="mb-3 text-primary post-title">spreadsheet-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">sql-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">startup-assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">storyteller tool</h6>
      <h6 class="mb-3 text-primary post-title">summarizer tool</h6>
      <h6 class="mb-3 text-primary post-title">text-to-speech tool</h6>
      <h6 class="mb-3 text-primary post-title">text-to-video tool</h6>
      <h6 class="mb-3 text-primary post-title">transcriber tool</h6>
      <h6 class="mb-3 text-primary post-title">translation tool</h6>
      <h6 class="mb-3 text-primary post-title">video-editing tool</h6>
      <h6 class="mb-3 text-primary post-title">video-generator tool</h6>
      <h6 class="mb-3 text-primary post-title">voice-modulation tool</h6>
      <h6 class="mb-3 text-primary post-title">writing-assistant tool</h6>
	  --------------------------------------------------------------- 

      <h6 class="mb-3 text-primary post-title">3D generator tool</h6>
      <h6 class="mb-3 text-primary post-title">ai detection tool</h6>
      <h6 class="mb-3 text-primary post-title">art generator tool</h6>
      <h6 class="mb-3 text-primary post-title">audio editing tool</h6>
      <h6 class="mb-3 text-primary post-title">avatar generator tool</h6>
      <h6 class="mb-3 text-primary post-title">code assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">copywriting assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">customer support tool</h6>
      <h6 class="mb-3 text-primary post-title">design assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">education assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">email assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">fashion assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">generative art tool</h6>
      <h6 class="mb-3 text-primary post-title">generative code tool</h6>
      <h6 class="mb-3 text-primary post-title">generative video tool</h6>
      <h6 class="mb-3 text-primary post-title">gift ideas tool</h6>
      <h6 class="mb-3 text-primary post-title">human resources tool</h6>
      <h6 class="mb-3 text-primary post-title">image editing tool</h6>
      <h6 class="mb-3 text-primary post-title">image generator tool</h6>
      <h6 class="mb-3 text-primary post-title">image improvement tool</h6>
      <h6 class="mb-3 text-primary post-title">image scanning tool</h6>
      <h6 class="mb-3 text-primary post-title">legal assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">life assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">logo generator tool</h6>
      <h6 class="mb-3 text-primary post-title">matt's picks tool</h6>
      <h6 class="mb-3 text-primary post-title">memory assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">motion capture tool</h6>
      <h6 class="mb-3 text-primary post-title">music generator tool</h6>
      <h6 class="mb-3 text-primary post-title">personalized videos tool</h6>
      <h6 class="mb-3 text-primary post-title">prompt guides tool</h6>
      <h6 class="mb-3 text-primary post-title">prompts assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">real estate tool</h6>
      <h6 class="mb-3 text-primary post-title">research assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">sales assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">search engine tool</h6>
      <h6 class="mb-3 text-primary post-title">self improvement tool</h6>
      <h6 class="mb-3 text-primary post-title">seo assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">social media tool</h6>
      <h6 class="mb-3 text-primary post-title">social-media assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">spreadsheet assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">sql assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">startup assistant tool</h6>
      <h6 class="mb-3 text-primary post-title">video editing tool</h6>
      <h6 class="mb-3 text-primary post-title">video generator tool</h6>
      <h6 class="mb-3 text-primary post-title">writing-assistant tool</h6>
      --------------------------------------------------------------- 

	  
   </div>

</body>
</html>
