<!DOCTYPE html>
<html lang="en">
<head>
   <title>Bootstrap Example</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

   <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
      <style>
        .increase-size {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            padding-left: 1.2em;
            padding-right: 1.2em;
            font-size: 14px;
			font-weight: 500;
        }
		
        .increase-border {
            padding-top: 0.8em;
            padding-bottom: 0.8em;
            padding-left: 1.2em;
            padding-right: 1.2em;
            font-size: 14px;
			font-weight: 500;
			border: 1px solid;
        }

        .form-rounded {
            border-radius: 1.2em;
         }
   </style>
	
   <link rel="stylesheet" href="style.css" />
   <link rel="stylesheet" href="w3schools32.css" />
</head>
<body>

<br>
   <div class="container mb-3">
      <h3>Suggestions, synonyms, definitions, tokenize, spell-checking</h3>
      <br>
      <input type="text" class="form-control form-rounded increase-size" placeholder="Text input">
   </div>

   <div class="container mt-3">
      <main class="form-signin w-50 m-auto">
         <form action="/message" method="POST">

         <!-- h1 class="h3 mb-3 fw-normal">Please send me message</h1> -->
		  
         <button class="w-100 btn btn-lg btn-primary" type="submit">
            Send
         </button>
		 
		 <hr>
		 
			<div class = "card">
			   <div class = "card-header">
				  <h4 class = "card-title" >
					 <a style="text-decoration:none;" data-toggle = "collapse" href = "#test">Free learning content</a>
				  </h4>
			   </div>
			   <div id = "test" class = "card-collapse collapse">
				  <div class = "card-body">
				  <p class="card-text">AI tools</p>
				  <h4>artificial intelligence tools</h4>
				  </div>
			   </div>
			</div>

         </form>
      </main>
   </div>

   <div class="container mt-3">
      <div class="w3-example">
         <h3>Example</h3>
         <p>Disable default resize option:</p>
         <div class="w3-code notranslate htmlHigh"> Tested-lined-text
         </div>
         <div class="w3-code notranslate htmlHigh"> Tested-lined-text
         </div>

         <span class="badge rounded-pill text-bg-primary increase-size">Primary</span>
         <span class="badge rounded-pill text-bg-secondary increase-size">Secondary</span>
         <span class="badge rounded-pill text-bg-success increase-size">Success</span>
         <span class="badge rounded-pill text-bg-danger increase-size">Danger</span>
         <span class="badge rounded-pill text-bg-warning increase-size">Warning</span>
         <span class="badge rounded-pill text-bg-info increase-size">Info</span>
         <span class="badge rounded-pill text-bg-light increase-size">Light</span>
         <span class="badge rounded-pill text-bg-dark increase-size">Dark</span>
	  </div>
   </div>
   <div class="container mt-3">
      <span class="badge rounded-pill text-bg-primary increase-size">Primary</span>
      <span class="badge rounded-pill text-bg-secondary increase-size">Secondary</span>
      <span class="badge rounded-pill text-bg-success increase-size">Success</span>
      <span class="badge rounded-pill text-bg-danger increase-size">Danger</span>
      <span class="badge rounded-pill text-bg-warning increase-size">Warning</span>
      <span class="badge rounded-pill text-bg-info increase-border">Info</span>
      <span class="badge rounded-pill text-bg-light increase-border">Light</span>
      <span class="badge rounded-pill text-bg-dark increase-size">Dark</span>
	  <hr>

	
	  <tag class="mb-3 text-primary post-title">.NET Framework</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">APIs</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">ASP / Active Server Pages</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">ASP.NET</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Algorithms / Advanced Math</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Apache Web Server</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">C / C++</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">C# / C Sharp</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Career Advice</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">ColdFusion</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Computer Hardware</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Content Management Systems</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">DB2 Database</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Data Management</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Desktop Software</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Flash / Actionscript</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">General</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">HTML / CSS</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">IIS / Internet Information Server</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Java</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Javascript</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Linux</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Mac OS</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Microsoft Access / VBA</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Microsoft Excel</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Microsoft SQL Server</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Microsoft Windows</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Mobile Development</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Mobile Phones and Devices</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">MySQL Database</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Networking - Hardware / Configuration</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Online Marketing</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Oracle Database</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">PHP</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Perl</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">PostgreSQL Database</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Python</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Ruby / Ruby on Rails</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Security</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Software Development</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Visual Basic .NET</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Visual Basic 4 / 5 / 6</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Web Applications</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">Windows Server</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">XAML / WPF / Silverlight</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">XML</tag><h6></h6>

	  <tag class="mb-3 text-primary post-title">eCommerce</tag><h6></h6>
	  
	  --------------------------------------------------------
	  <h6></h6>
      <tag class="mb-3 text-primary post-title">3D-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">aggregators</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">ai-detection</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">art-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">audio-editing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">avatar</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">avatar-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">chat</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">code-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">copywriting</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">copywriting-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">customer-support</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">design-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">developer-tools</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">e-commerce</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">education-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">email-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">experiments</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">fashion-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">finance</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">for-fun</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">fun-tools</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">gaming</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative-art</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative-code</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative-video</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">gift-ideas</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">health</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">human-resources</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-editing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-improvement</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-scanning</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">inspiration</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">legal-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">life-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">logo-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">marketing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">matt's-picks</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">memory-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">motion-capture</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">music</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">music-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">no-code</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">paraphraser</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">personalized-videos</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">podcasting</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">presentations</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">productivity</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompt-guides</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompts-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">real-estate</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">research</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">research-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">resources</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sales-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">search-engine</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">self-improvement</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">seo-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social-media</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social-media-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">speech-to-text</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">spreadsheet-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sql-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">startup-assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">storyteller</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">summarizer</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">text-to-speech</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">text-to-video</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">transcriber</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">translation</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video-editing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video-generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">voice-modulation</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">writing-assistant</tag><h6></h6>
	  ---------------------------------------------------------------

      <tag class="mb-3 text-primary post-title">3D generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">ai detection</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">art generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">audio editing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">avatar generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">code assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">copywriting assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">customer support</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">design assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">developer tools</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">education assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">email assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">fashion assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">fun tools</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative art</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative code</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative video</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">gift ideas</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">human resources</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image editing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image improvement</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image scanning</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">legal assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">life assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">logo generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">matt's picks</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">memory assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">motion capture</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">music generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">personalized videos</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompt guides</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompts assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">real estate</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">research assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sales assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">search engine</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">self improvement</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">seo assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social media</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social-media assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">spreadsheet assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sql assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">startup assistant</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video editing</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video generator</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">writing-assistant</tag><h6></h6>
      ----------------------------------------------------------------------
	  
      <tag class="mb-3 text-primary post-title">3D-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">aggregators tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">ai-detection tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">art-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">audio-editing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">avatar tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">avatar-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">chat tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">code-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">copywriting tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">copywriting-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">customer-support tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">design-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">developer-tools</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">e-commerce tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">education-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">email-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">experiments tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">fashion-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">finance tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">for-fun tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">gaming tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative-art tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative-code tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative-video tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">gift-ideas tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">health tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">human-resources tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-editing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-improvement tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image-scanning tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">inspiration tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">legal-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">life-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">logo-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">marketing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">matt's-picks tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">memory-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">motion-capture tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">music tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">music-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">no-code tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">paraphraser tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">personalized-videos tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">podcasting tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">presentations tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">productivity tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompt-guides tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompts-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">real-estate tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">research tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">research-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">resources tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sales-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">search-engine tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">self-improvement tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">seo-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social-media tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social-media-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">speech-to-text tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">spreadsheet-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sql-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">startup-assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">storyteller tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">summarizer tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">text-to-speech tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">text-to-video tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">transcriber tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">translation tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video-editing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video-generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">voice-modulation tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">writing-assistant tool</tag><h6></h6>
	  ---------------------------------------------------------------

      <tag class="mb-3 text-primary post-title">3D generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">ai detection tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">art generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">audio editing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">avatar generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">code assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">copywriting assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">customer support tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">design assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">education assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">email assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">fashion assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative art tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative code tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">generative video tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">gift ideas tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">human resources tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image editing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image improvement tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">image scanning tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">legal assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">life assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">logo generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">matt's picks tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">memory assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">motion capture tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">music generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">personalized videos tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompt guides tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">prompts assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">real estate tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">research assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sales assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">search engine tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">self improvement tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">seo assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social media tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">social-media assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">spreadsheet assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">sql assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">startup assistant tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video editing tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">video generator tool</tag><h6></h6>
      <tag class="mb-3 text-primary post-title">writing-assistant tool</tag><h6></h6>
      ----------------------------------------------------------------------

	  
   </div>

</body>
</html>
